<a href="https://colab.research.google.com/github/Ruanvi/SQL/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Revisão

In [ ]:
# Tipos primitivos de dados 

#40 TVs ------> int
#R$1250.37 -------> float
#sim -------> bool
#Aduano -------> string

In [ ]:
#Pegar os numeros de uma lista
#Criar outra lista com o dobro

nums = [6, 5, 2, 1, 7]

In [ ]:
#MAP map(função, iteravel)
nums = [6, 5, 2, 1, 7]
newList = list(map(lambda x: x**2))

In [ ]:
#Recebe os valores de uma lista numerica e
#Retorna o quadrado de cada numero

listah = [2, 4, 6, 8, 10]

In [ ]:

listah = list(map(lambda x: x**2, listah))
listah

[4, 16, 36, 64, 100]

In [ ]:
#Recebe uma lista de frutas e
#Retorna o quatidade de caracteres cada

listaFrutas = ['goiaba','manga','carambola','banana']

In [ ]:
listFrutas= list(map(lambda x : len(x), listaFrutas))
listFrutas

[6, 5, 9, 6]

In [ ]:
#Pegar os preços de uma lista adicionar 2 a cada um deles

precos = [7.50, 5.38, 10.90]

In [ ]:
adicPrecos= list(map(lambda x : x+2, precos))
adicPrecos

[9.5, 7.38, 12.9]

In [ ]:
notas = [6, 7, 8, 9, 10]
#quero apenas os aprovados

aprovados = list(filter(lambda x : x>=7, notas))
aprovados

[7, 8, 9, 10]

In [9]:
#Tuplas = São imutaveis 

tp_frutas = ('maçã', 'banana', 'laranja','goiaba')
tp_frutas

('maçã', 'banana', 'laranja', 'goiaba')

In [13]:
tp_frutas.count('banana')

1

In [17]:
#Criando ma lista a partir de uma tupla ou uma tupla a partir do 

lst_frutas= list(tp_frutas)
type(lst_frutas)

list

In [19]:
tp_meses = ('jan','fev', 'mar', 'abr', 'mai' , 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez')
tp_meses[3:6]

('abr', 'mai', 'jun')

In [20]:
coord = (-7.11532, -34.861)

In [21]:
uf_cod = [('PE', 81), ('RJ', 21), ('SP', 11), ('PB', 83)]

sorted(uf_cod, key = lambda x : x[1])

[('SP', 11), ('RJ', 21), ('PE', 81), ('PB', 83)]

In [35]:
#Coloque a tupla a seguir em ordem do mais novo para o mais velho
nome_nasc = [('Zé', 2023), ('Maria',1998), ('Alice', 2000)]

sorted(nome_nasc, key = lambda x : x[1], reverse = 1)

[('Zé', 2023), ('Alice', 2000), ('Maria', 1998)]

In [37]:
#Coloque a tupla a seguir em ordem do mais velho para o mais novo
nome_nasc = [('Zé', 2023), ('Maria',1998), ('Alice', 2000)]

sorted(nome_nasc, key = lambda x : x[1])

[('Maria', 1998), ('Alice', 2000), ('Zé', 2023)]

In [41]:
def nome_idade_uf():
  nome = 'Evelyn'
  idade = 19
  uf = 'PB'
  return nome, idade, uf


nome, age, uf = nome_idade_uf()

print(nome, age, uf)

Evelyn 19 PB

In [42]:
alunos = ('Verdinha', 'Magra close', 'Microsoft', 'ExTrans')
notas = (5.5, 8, 9, 6.5)

Av1 = tuple(zip(alunos, notas))

Av1

(('Verdinha', 5.5), ('Magra close', 8), ('Microsoft', 9), ('ExTrans', 6.5))

In [43]:
alunos = ('Verdinha', 'Magra close', 'Microsoft', 'ExTrans')
notas = (5.5, 8, 9, 6.5)

Av1 = tuple(zip(alunos, notas))
dc_av1 = dict(zip(alunos, notas))

dc_av1

{'Verdinha': 5.5, 'Magra close': 8, 'Microsoft': 9, 'ExTrans': 6.5}

In [44]:
def contatenaTupla (tp1, tp2):
  return tp1 + tp2

a = (2, 4, 5)
b = (6, 8, 12)
contatenaTupla(a, b)

(2, 4, 5, 6, 8, 12)

In [45]:
def formatada(tupla):
  nome, logradouro, num, bairro = tupla
  return f'Nome:{nome} , residente a {logradouro}, {num}, {bairro}.'

dadosCliente = ('Evelynn', 'Puta que Pario', '42', 'Caso do Karalho')
print (formatada(dadosCliente))

Nome:Evelynn , residente a Puta que Pario, 42, Caso do Karalho.